.section1{
    border: 2px solid blue;
    height: 850px;
    background-color: blue;

}
.menu1>ul{
    display: flex;
    list-style: none;
    position: relative;
    right: -550px;
    
}
.menu1>ul>li{
    margin-right: 30px;
}
#logo{
    position: relative;
    left: 50px;
    top: 40px;
    font-style: italic;
    font-size: xx-large;
}
#p1{
    text-align: center;
    position: relative;
    top: 180px;
}
#p1>h1{
    font-size: 60px;
    font-weight: 900;
    color: whitesmoke;
}
#p1>p{
    font-weight:bold;
    color: whitesmoke;
}
#shade1{
    border: 2px solid #ee5253;
    width: 160px;
    border-radius: 100px;
    position: relative;
    left: 550px;
    top: 30px;
    background-color: #ee5253;
}
/*{section2---}*/
.section2{
    border: 2px solid white;
    height: 900px;
    background-color: white;
}
.maincontainer{
    display: flex;
    position: relative;
    top: 150px;

}
.container>img{
    height: 100px;
    width: 100px;
}
.container1{
    display: flex;
    margin: 20px;
    justify-content: space-around;
    position: relative;
    left: 25px;
}
.container2{
    position: relative;
    right: 90px;
    top: 60px;

}
#image1{
    margin-right: 10px;
}
.container2>h1{
    font-size: 35px;
    font-weight: 20px;
}
#shade2{
    border: 2px solid red;
    height: 1px;
    width: 100px;
    background-color: red;
}
#shade3{
    border: 2px solid red;
    width: 160px;
    border-radius: 100px;
    text-align: center;
    position: relative;
    top: 10px;
    color: white;
    background-color: #ee5253;
}
.container2>p{
    font-size: large;
}
/*{section3---}*/
.section3{
    border: 2px solid whitesmoke;
    height: 1450px;
    background-color: whitesmoke;
}
#description{
    text-align: center;
    font-size: larger;
}
#shade4{
    background-color:#ee5253;
    height: 1px; 
    width: 130px;
    border: 2px solid #ee5253;
    position: relative;
    left: 580px;
    
}
.card{
    border: 2px solid white;
    width: 280px;
    height: 450px;
    margin-right: 20px;
    background-color: white;
}
.cont{
    display: flex;
    
}
.cont>p{
    margin-right: 70px;
    font-size: larger;
    font-weight: bold;
}
.dolar{
    color: white;
    border: 2px solid #ee5253;
    background-color: #ee5253;
    height: 25px;
    width: 35px; 
    font-size: larger;
    
    
}
.star{
    position: relative;
    left: 23px;
}
.order{
    border: 1px solid red;
    height: 40px;
    width: 100px;
    text-align: center;
    border-radius: 40px;
    color: #ee5253;
    background-color: inherit;
}
.subcontainer1{
    display: flex;
    position: relative;
    left: 30px;
    
}
.card1{
    border: 2px solid white;
    width: 280px;
    height: 450px;
    margin-right: 20px;
    background-color: white;
    margin-top: 20px;
}
.subcontainer2{
    display: flex;
    position: relative;
    left: 30px;
}
.shade5{
    text-align: center;
    border: 2px solid #ee5253;
    color: white;
    background-color: #ee5253;
    height: 40px;
    width: 120px;
    border-radius: 40px;
    position: relative;
    left: 500px;
    top: 70px;
}
/*{section2---}*/
.section4{
    border: 2px solid white;
    height: 1000px;
    background-color: white;
}
.intro{
    text-align: center;
}
#shade6{
    border: 1px solid #ee5253;
    background-color: #ee5253;
    height: 1px;
    width: 100px;
    position: relative;
    left: 550px;

}
.card4{
    border: 2px solid white;
    height: 300px;
    width: 300px;
    text-align: center;
    align-items: center;
    margin-right: 45px;
    margin-top: 45px;
}
.subcontainer4{
    display: flex;
}
.maincontainer5{
    position: relative;
    left: 120px;
    top: 100px;
}
/*{section5---}*/
.section5{
    border: 2px solid black;
    height: 900px;
    background-color: black;
    position: relative;
    top: 100px;
}
.intro2{
    text-align: center;
    color: white;
}
.shade7{
    border: 1px solid #ee5253;
    background-color: #ee5253;
    height: 1px;
    width: 100px;
    position: relative;
    left: 550px;
    top: -30px;

}
.containerx{
    display: flex;
    position: relative;
    left: 30px;
}
.cardx{
    margin-right: 70px;
    border: 2px solid white;
    height: 350px;
    width: 350px;
    text-align: center;
    background-color: white;
}
/*{section6---}*/
.section6{
    border: 2px solid white;
    height: 700px;
    background-color: white;
}
.intro3{
    text-align: center;
    position: relative;
    top: 50px;
    
}
#name{
    height: 30px;
    width: 650px;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
}
#email{
    height: 30px;
    width: 650px;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
}
.flex{
    display: flex;
    margin-top: 10px;
    
}
#phone {
    height: 30px;
    width: 300px;
    margin-right: 40px;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
}
#person{
    height: 30px;
    width: 300px;
    background-color: whitesmoke; 
    border: 2px solid whitesmoke;
}
#date{
    height: 30px;
    width: 300px; 
    background-color: whitesmoke; 
    border: 2px solid whitesmoke;  
}
#time{
    height: 30px;
    width: 300px; 
    position: relative;
    left: 350px;
    top: -55px; 
    background-color: whitesmoke; 
    border: 2px solid whitesmoke; 
}
#message{
    height: 80px;
    width: 650px;
    background-color: whitesmoke;
    position: relative;
    top: -55px;
    border: 2px solid whitesmoke;
}
.form{
    position: relative;
    left: 300px;
    top: 80px;
}
.shade8{
    text-align: center;
    border: 2px solid #ee5253;
    color: white;
    background-color: #ee5253;
    height: 40px;
    width: 120px;
    border-radius: 40px;
    position: relative;
    top: 80px;
    left: 560px;
}
/*{section7---}*/
.section7{
    border: 2px solid blue;
    height: 350px;
    background-color: black;
}
.containera{
    display: flex;
    position: relative;
    left: 35px;
}
.subcontainera{
    justify-items: center;
    border: 2px solid red;
    height: 200px;
    width: 280px;
    text-align: center;
    position: relative;
    top: 100px;
    margin-right: 10px;
    color: white;
}
.shade9{
    border: 1px solid #ee5253;
    background-color: #ee5253;
    height: 1px;
    width: 100px;  
    position: relative;
    left: 100px;
    top: 50px;
}